<header class="py-4 px-5">
    <div class="d-flex justify-content-between align-items-center" style="height: 10rem;">
        <img class="h-100" src="../../../../assets/images/Argo Swim Logo1.png" alt="" srcset="">
        <div>
            <div class="btn-group">
                <img data-bs-toggle="dropdown" style="height: 7.9rem;" src="../../../../assets/images/Group 40306.png"
                    alt="" srcset="">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu text-center">
                    <li><a class="dropdown-item">Edit Profile</a></li>
                    <li><a class="dropdown-item">Wallet</a></li>
                    <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>