.folder{
    width: 26.1rem;
    height: 25.6rem;
    background-color: var(--bgGrey);
    cursor: pointer;
    &:hover{
        border: 1px solid var(--blue);
    }
}
.form-check-label{
    font-size: 2.8rem;
    font-weight: bold;
}
.icn1{
    height: 6rem;
}
.folder-label{
    letter-spacing: .4px;
    font-size: 2.2rem;
    font-weight: bold;
}