<div class="h-100 d-flex justify-content-center align-items-center">
    <div style="width: 50%; gap: 3.3rem;" class="d-flex flex-column align-items-center">
        <h1 class="text-center title">Welcome Josh!</h1>
        <h3 class="descp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua.ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua</h3>
        <div class=" d-flex justify-content-center">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault"
                    style="letter-spacing: .78px;">Available</label>
                <input class="form-check-input" style="font-size: 2.8rem;" type="checkbox" role="switch"
                    id="flexSwitchCheckDefault">
            </div>
        </div>
        <div class="d-flex justify-content-between" style="gap: 4.2rem;">
            <div routerLink='work' class="folder d-flex flex-column justify-content-center align-items-center"
                style="gap: 3.3rem;">
                <img class="icn1" src="../../../../assets/images/pending_actions_black_24dp.png" alt="" srcset="">
                <label class="folder-label" for="">Work</label>
            </div>
            <div routerLink='/complete' class="folder d-flex flex-column justify-content-center align-items-center"
                style="gap: 3.3rem;">
                <img class="icn1" src="../../../../assets/images/Group 40307.png" alt="" srcset="">
                <label class="folder-label" for="">Completed</label>
            </div>
        </div>
        <h3 class="descp mt-5 border-bottom border-2">
            Deactivate account
        </h3>
    </div>
</div>