<div class="h-100 d-grid" style="place-items: center;">
    <div class="d-flex flex-column align-items-center" style="gap: 3.1rem;">
        <img src="assets/images/Argo Swim Logo1.png" style="height: 10.6rem;width: 10.6rem;" alt="" srcset="">
        <h1 class="title">Analyst Signup</h1>
        <h3 class="descp">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt
        </h3>
        <div [formGroup]="signUpForm">
            <div>

                <input formControlName='firstName' type="text" placeholder="First Name" class="mb-4">
            </div>
            <div>

                <input formControlName='lastName' type="text" placeholder="Last Name" class="mb-4">
            </div>
            <div>

                <input formControlName='phone' maxlength="11" type="text" placeholder="Phone Number" class="mb-4">
            </div>
            <div>

                <input formControlName='email' type="text" placeholder="Email ID" class="mb-4">
            </div>
            <br>
            <div class="pasinp">
                <input formControlName='password' [type]="type" placeholder="Password">
                <img *ngIf="type == 'text'" (click)="changeType('password')"
                    src="../../../../../assets/images/eye-slash-solid.svg" alt="" srcset="">
                <img *ngIf="type == 'password'" (click)="changeType('text')"
                    src="../../../../../assets/images/eye-solid.svg" alt="" srcset="">
            </div>
        </div>
        <button [disabled]="signUpForm.invalid || loading" class="primary d-flex justify-content-center"
            style="width: 16rem;" (click)="Signup()">Sign Up
            <div *ngIf="loading" class="spinner-border ms-4" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </button>
        <h4 style="font-weight: bold;">Already have an account? <span class="blue">Login</span></h4>
    </div>
</div>