input[type='text'],input[type='password']{
    width: 38.1rem;
}

.pasinp{
    position: relative;
    img{
        position: absolute;
        height: 2.4rem;
        right: 1rem;
        top: 1rem;
    }
}